
html, #root, #root>div, body {
  height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

.site {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-header {
  box-sizing: border-box;
}

.site-main {
  box-sizing: border-box;
}

.site-main::before {
  content: '\00a0';
  display: block;
  margin-top: 44px;
  visibility: hidden;
}

.site-main::after {
  content: '\00a0';
  display: block;
  margin-top: 10vh;
  height: 0px;
  visibility: hidden;
}

.site-footer {
  box-sizing: border-box;
}

.main-flex-container {
  min-height: 20vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
  flex: 1;
}

.main {
  flex: 4 1 60%;
  max-width: 100em;
  order: 2;
  display: flex;
  flex-direction: column;
}

.home-jumbotron {
  height: 80vh;
  content: '\00a0';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand {
  flex: 4 1 60%;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card {
  margin-top: 0.2em;
}

.div-flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  margin: 4px;
  padding-left: 10px;
}

.side-lite {
  flex: 2 6 auto;
}

.left-pane {
  order: 1;
}

.right-pane {
  order: 3;
}

.paper {
  margin: 8px;
}

.paper > div {
  margin: 8px;
}

.footer-flex-container {
  min-height: 28vh;
  display: flex;
  flex-flow: row;
}

.footer-text {
  margin: 4px;
  padding: 5px;
}

.wrap-here {
  display: inline-block;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.static {
  margin-left: 5px;
  margin-top: 10px;
  max-width: 360px;
}

.static-sub-div {
  margin-left: 5px;
}

/*@media all and (min-width: 1280px) {
  .main {
    flex: 4 1 auto;
    order: 2;
    display: flex;
    flex-direction: column;
  }

  .right-pane {
    flex: 2 1 auto;
  }
}*/

@media all and (max-width: 640px) {
  .flex-container {
    flex-direction: column;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .main {
    flex-basis: auto;
  }

  .paper > div {
    margin: 8px 0 8px 0;
  }
  .side-lite, .footer {
    min-height: 20px;
    max-height: 20px;
    flex: 1 6 auto;
  }
  blockquote {
    border-left: .2em solid;
  }
}
