@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('./color-and-style.css');
@import url('./layout.css');

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -85px;
}
