@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('./layout.css');

body {
font-family: 'Roboto', sans-serif;
  background-color: #fefefe;
}

.home-jumbotron {
  background-image: url('../assets/background-large.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media all and (max-width: 768px) {
  .home-jumbotron {
    background-image: url('../assets/background-small.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

.footer-flex-container {
  background-color: #330101;
}

.footer-text {
  color: #fefefe;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  padding-left: 1.5em;
  border-left: .3em solid #999;
}
