
.weather-row {
  display: flex;
  /*justify-content: flex-start;*/
  align-items: top;
}

.weather-single {
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  align-items: center;
}

.weather-set {
  display: flex;
  flex-direction: row;
  margin: 0.3em;
  align-items: center;
}

.weather-item {
  margin: 0.3em;
  font-size: 1.2em;
  min-width: 9vw;
}

@media all and (max-width: 700px) {
  .weather-single {
    flex-direction: row;
  }
  .weather-set {
    flex-direction: column;
  }
}

.weather-header {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  height: 50px;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0.2em;
  background-color: #F5F5F5;
}

.weather-header-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather-header-img {
  margin-left: 1em;
  margin-right: 1em;
}

.weather-detail {
  font-size: 0.6em;
  font-weight: 200;
}

.weather-temp-diff {
  margin: 0.5em;
}

.weather-temp-diff hr {
  border: 0;
  height: 0.3em;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.75), rgba(255, 0, 0, 0.75));
}
